@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --main-color: rgb(32, 34, 37);
    --main-color-light: rgb(57, 60, 65);
    --main-color-extralight: rgb(47, 49, 54);
    --gray-light: #f7f7f7;
    --text: rgb(165, 170, 176);
    --text-light: #f6f6f6;
    --red: #bf5050;
    --green: #70b35f;
    --red-light: #c36e6e;
    --green-light: #9ac38f;
    --blue: #5a9dee
}

button {
    background: none;
}

body {
    background: var(--main-color-light);
    color: rgb(54, 57, 63);
}

.input {
    border-radius: 5px;
    border: 1px solid var(--blue);
    padding: 0.7em;
}

.error-text {
    color: var(--red);
}

.error {
    border: 2px solid var(--red);
}


#app-wrapper {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background: #727272;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    grid-area: container;
    padding: 1.5em;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-light);
}