@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --main-color: rgb(32, 34, 37);
    --main-color-light: rgb(57, 60, 65);
    --main-color-extralight: rgb(47, 49, 54);
    --gray-light: #f7f7f7;
    --text: rgb(165, 170, 176);
    --text-light: #f6f6f6;
    --red: #bf5050;
    --green: #70b35f;
    --red-light: #c36e6e;
    --green-light: #9ac38f;
    --blue: #5a9dee;

    --btn-bg: rgb(113, 136, 212);
    --btn-hover: rgb(102, 122, 191);
    --btn-text: var(--text-light);
    --btn-nav-hover: var(--main-color-extralight);
}

button {
    background: none;
}

body {
    background: rgb(54, 57, 63);
    color: var(--text-light);
}

.btn {
    padding: .5em 1em;
    background: var(--btn-bg);
    transition: .3s;
    max-width: 300px;
    border-radius: 5px;
    width: 100%;
    color: var(--btn-text);
    font-weight: bold;
}

.btn:hover {
    background: var(--btn-hover);
}

.input {
    border-radius: 5px;
    border: 1px solid var(--blue);
    padding: 0.7em;
}

.error-text {
    color: var(--red);
}

.error {
    border: 2px solid var(--red);
}

a {
    color: var(--text-light);
}

.input {
    border-radius: 5px;
    border: 1px solid rgb(96, 96, 96);
    padding: 0.7em;
    width: 100%;
    margin-bottom: 1em;
}

.error-text {
    color: var(--red);
}

.error {
    border: 2px solid var(--red);
}


#app-wrapper {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background: #727272;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    grid-area: container;
    padding: 100px 1.5em;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-light);
}