.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    border-radius: 5px;
    padding: 1em;
    margin: 0 auto 1em;
    background: var(--main-color-extralight);
}

.status {
    color: var(--text);
}

.title {
    font-size: 20px;
    margin-bottom: 1em;
}

.deleteBtn {
    margin-top: 5px;
    background: var(--red);
    transition: .3s;
}

.deleteBtn:hover {
    background: var(--red-light);
}